# Core ML/Audio libraries
torch --index-url https://download.pytorch.org/whl/cu118
transformers
datasets
accelerate
peft
bitsandbytes

# Data generation and processing
gTTS
pydub
soundfile
librosa

# Evaluation
evaluate
jiwer
whisper_env/
data/